
@import 'utils';

.Menu {
    .MenuItemPC {
        @include media("<=medium") {
            display: none;
        }
    }
    .MenuItemMobile {
        @include media(">medium") {
            display: none;
        }
        &.hidden {
            // display: none;
            max-height: 0px;
            transform: translateY(-100%);
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
        max-height: 500px;
        transform: translateY(0px);
        transition: all 0.5s ease-in-out;
        opacity: 1;

    }
}